html {
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom:1}

body,button,input,select,textarea {
    font-size: 12px;
    line-height: 1.5;
}

input,select,textarea {
    font-size: 100%
}

th {
    text-align: inherit
}

fieldset,img {
    border: 0
}

iframe {
    display: block
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,q:after {
    content: ''
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

a:hover {
    text-decoration: none;
}

ins,a {
    text-decoration: none;
}

/* .cf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cf{*+height:1%;} */
.cf {overflow: hidden;}
a:focus{outline:none;}
*{
	box-sizing: border-box;
}
.system {
	background: #283849;
	position: relative;
}
.header {
	height: 56px;
	width: 100%;
	background: url('../images/head-bg.png') center center repeat-y;
	background-size: contain;
}
.header .tit {
	color: #FFF;
	font-size: 24px;
	padding-left: 16px;
	line-height: 56px;
}
.sidebar {
	/* float: left;
	width: 232px;
	background: #283849;
	height: auto!important;
	z-index: 998;
	display: block;
	overflow: visible!important; */
	position: absolute;
    top: 56px;
    left: 0;
    width: 232px;
    background: #283849;
    height: auto!important;
    z-index: 998;
    display: block;
    overflow: visible!important;
}
.sidebar .menu {
	padding: 0 2px;
}
.menu .item {
	/* height: 41px; */
	line-height: 41px;
	cursor: pointer;
}
.menu .item a.icon:hover,.menu .item a.icon.active {
	border-left: solid 5px #3484cd;
	background: #192c3e;
}
.menu .item a {
	color: #FFF;
	font-size: 16px;
	background-repeat: no-repeat;
	padding-left: 30px;
}
.menu .item a.icon {
	display: block;
	padding-left: 56px;
	border-top: solid 1px #5e6b77;
	border-left: 5px solid #283849;
	line-height: 39px;
}
.smenu {}
.smenu a.sitem {
	font-size: 14px;
	line-height: 41px;
	display: block;
	padding-left: 56px;
	color: #3484cd;
	border-left: 5px solid #283849;
	border-top: solid 1px #5e6b77;	
}
a.lastitem {
	border-bottom: solid 1px #5e6b77;
}
.smenu a.sitem:hover {
	background: #172431;
	border-left: solid 5px #3484cd;
}
.menu .item a.icon.config {
	background-image: url('../images/icon.png');
	background-position: 24px -3px;
	background-repeat: no-repeat;
}
.menu .item a.icon:hover .config,.menu .item a.icon.active .config {
	background-image: url('../images/icon-hover.png');
}
.menu .item a.icon.newslist {
	background-image: url('../images/icon.png');
	background-position: 24px -43px;
	background-repeat: no-repeat;
}
.menu .item a.icon:hover .newslist,.menu .item a.icon.active .newslist {
	background-image: url('../images/icon-hover.png');
}
.menu .item a.icon.options {
	background-image: url('../images/icon.png');
	background-position: 24px -83px;
	background-repeat: no-repeat;
}
.menu .item a.icon:hover .options,.menu .item a.icon.active .options {
	background-image: url('../images/icon-hover.png');
}

.main {
	margin-left: 232px;
	min-height: 663px;
	background: #f0f3f4;
	position: relative;
	overflow: hidden;
	display: block;
	/* min-height: 773px;
	padding: 0 0 50px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
    min-height: 773px;
    margin-left: 232px; */
}
.tabcon {
	min-height: .01%;
	overflow-x: auto;
	padding: 0 14px;
	padding-bottom: 40px;
}
.main .nav {
	height: 34px;
	border-bottom: solid 1px #D2D2D2;
	background: #f0f3f4 url('../images/nav.png') 20px center no-repeat;
	color: #283849;
	padding-left: 12px;
	line-height: 34px;
}
.nav .tag {
	font-size: 14px;
	padding-left: 30px;
}
.main .wrap {
	padding: 12px 10px 142px 12px;
}
.wrap .search {
	padding-left: 12px;
}
.search.mt30 {
	margin-top: 20px;
    padding-bottom: 20px;
}
.search.sarea {
	background: #f0f3f4;
	padding-bottom: 16px;
	margin-bottom: 20px;
}
.search.sarea .cf {
	padding-top: 16px;
}
.search .sel {
	display: inline-block;
	_zoom: 1;
  _display: inline;
	width: 65px;
	padding: 4px 2px;
	border: solid 1px #bdbcbc;
	margin-top: 4px;
	vertical-align: middle;
}
.search .sel.mr30 {
	margin-right: 30px;
}
.search .sel.w130 {
	width: 130px;
}
.search .txt {
	display: inline-block;
	_zoom: 1;
  _display: inline;
    height: 28px;
	line-height: 28px;
	vertical-align: middle;
}
.search .inp {
	display: inline-block;
	_zoom: 1;
  _display: inline;
	width: 130px;
	padding: 4px 10px;
	border: solid 1px #bdbcbc;
	margin-right: 30px;
	margin-left: 8px;
	vertical-align: middle;
}
.search .inp.date {
	margin-right: 8px;
	background: #FFF url('../images/datepicker.png') 106px center no-repeat;
}
.search .searchbtn {
	display: inline-block;
	_zoom: 1;
  _display: inline;
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	background: #02acb4;
	color: #FFF;
	font-size: 14px;
	margin-left: 22px;
	vertical-align: middle;
}
.wrap .result {
	width: 95%;
	padding: 16px 24px;
	background: #FFF;
}
.table {
	cellspacing: 0;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	border-left: solid 1px #d6d6d6;
	border-top: solid 1px #d6d6d6;
}
.table th {
	padding: 15px 0;
	background: #eff0f0;
	text-align: center;
	color: #093565;
	font-size: 16px;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}
.table th.last {
	border-right: solid 1px #d6d6d6;
}
.table td {
	padding: 8px;
	padding-left: 30px;
	border-right: solid 1px #d6d6d6;
	border-bottom: solid 1px #d6d6d6;
	font-size: 14px;
}
.table .link {
	color: #1c90fc;
}
.nbtable {
	border-spacing: 0;
	border-collapse: collapse;
	/* width: 100%; */
    max-width: 100%;
	margin-bottom: 20px;
}
.ma20 {
	margin: 20px auto;
}
.wp100 {
	width: 100%;
}
.nbtable .nbinp {
	width: 315px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	border: solid 1px #bdbcbc;
	overflow: hidden;
}
.nbtable .bnbinp {
	width: 380px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	border: solid 1px #bdbcbc;
	overflow: hidden;
}
.nbtable .bbnbinp {
	width: 380px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border: solid 1px #bdbcbc;
	overflow: hidden;
}
.nbtable .showdet {
	color: #0f82ea;
	font-size: 14px;
	margin: 14px 0;
	display: block;
}
.nbtable .det {
	display: none;
	font-size: 12px;
	color: #8d8e8f;
}
.nbtable .delbtn {
	padding: 8px;
	background: url('../images/del.png') center center no-repeat;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}
.nbtable .addbtn {
	padding: 8px;
	background: url('../images/add.png') center center no-repeat;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}
.nbtable .nbtxta {
	width: 580px;
	height: 145px;
	border: solid 1px #bdbcbc;
	padding: 10px;
}
.nbtable .checkarea {
	width: 580px;
	height: 145px;
	border: solid 1px #bdbcbc;
	overflow-y: scroll;
}
.nbtable .checkarea .item {
	float: left;
	width: 160px;
	margin: 20px 0 0 20px;
}
.nbtable .checkarea .item input[type='checkbox'] {
	margin-right: 8px;
}
.nbtable td {
	padding: 6px;
	color: #283849;
	font-size: 14px;
}
.btns.tc {text-align: center;}
.defbtn {
	display: inline-block;
	_zoom: 1;
  _display: inline;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    background: #02acb4;
    color: #FFF;
    font-size: 14px;
}
.defcancel {
	background: #959595;
}
.smabtn {
	display: inline-block;
	_zoom: 1;
  _display: inline;
    height: 24px;
    line-height: 24px;
	width: 72px;
	text-align: center;
    background: #02acb4;
    color: #FFF;
    font-size: 14px;
}
.smacancel {
	background: #959595;
}
.result .page {
	text-align: right;
}
.page-comp{
	display: inline-block;
	_zoom: 1;
  _display: inline;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.page-comp div{
	display: inline-block;
	_zoom: 1;
  _display: inline;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.page-comp .whj_padding{
    padding: 1px 9px;
}
.page-comp .whj_bgc{
    background-color: #FFF;
    color: #172431;
}
.page-comp .whj_border{
    border: 1px solid #e8e8e8;
}
.page-comp .whj_color{
    color: #172431;
}
.page-comp .whj_hover:hover,.page-comp .whj_hover.active{
    background-color: #02acb4;
    color: #FFF;
    cursor: pointer;
}
.page-comp .whj_checked{
    background-color: #FFF;
    color: #172431;
}
.page-comp .whj_hoverDisable{
    opacity: 0.5;
}
.page-comp select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.page-comp input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.page-comp div,.page-comp input,.page-comp select{
    margin: 2px;
}

.wrap .frm {
	margin-top: 10px;
}
.frm .tags{
	margin-bottom: 12px;
}
.tags span {
	display: inline-block;
	_zoom: 1;
  _display: inline;
	border-left: solid 4px #7b9aa2;
	background: #c0eaec;
	color: #565656;
	font-size: 14px;
	padding: 4px 6px;
}
.tags span.def {
	border-left: solid 4px #283849;
	background: #02acb4;
	color: #FFF;
}
.wrap .tdlist {
	font-size: 14px;		
}
.tdlist .total {
	color: #283849;
	padding: 10px 0;
	border-top: solid 1px #C7C7C7;
	font-weight: bold;
}
.tdlist .tdl li {
	border-bottom: dashed 1px #C7C7C7;
	margin-bottom: 10px;
}
.tdlist .tdl .tit {
	display: block;
	color: #1c90fc;
	margin-bottom: 4px;
}
.tdlist .tdl .detail {
	color: #585858;
	margin-bottom: 10px;
    display: block;
}
.wrap .btns {
	margin: 30px 0;
	text-align: center;
}
.wrap .btns .defbtn {
	margin: 0 10px;
}

/* options.html */
.result .tabs {
	height: 32px;
    margin-bottom: 24px;
    padding: 0 14px;
    padding-top: 16px;
}
.tabs.tcr {text-align: right;}
.tabs .tabtn {
	color: #1775df;
	font-size: 14px;
	line-height: 32px;
}
.tabs .linkbtn {
	float: left;
	padding: 2px 6px;
	color: #333333;
	margin-right: 10px;
}
.tabs .linkbtn:hover, .tabs .linkbtn.active{
	background: #02acb4;
	color: #FFF;
}

.tabs .key {
	float: left;
	color: #333333;
	font-size: 14px;
	margin-right: 8px;
	line-height: 32px;
}
.tabs .value {
	float: left;
	width: 355px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    border: solid 1px #bdbcbc;
	overflow: hidden;
	margin-top: 3px;
}
.tabs .addproperty {
	/* float: right; */
}

.pop {
	display: none;
	position: fixed;
	background: #000;
	opacity: 0.5;
	z-index: 999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=50);
}
.popbox {
	display: none;
	top: 50%;
	left: 50%;
	position: fixed;
	margin: auto;
	z-index: 1000;
	background-color: #fff;
	/* border-radius: 4px; */
	font-size: 14px;
}
.popbox .closed {
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	height: 17px;
	width: 17px;
	background: url('../images/closed.png') center center no-repeat;
	cursor: pointer;
}
.popbox.addpro {
	width: 386px;
	height: 196px;
	margin-left: -193px;
	margin-top: -98px;
}
.popbox.addclass {
	width: 386px;
	height: 280px;
	margin-left: -193px;
	margin-top: -140px;
}
.popbox .tit {
	height: 34px;
	line-height: 34px;
	padding-left: 14px;
	color: #FFF;
	font-size: 14px;
	background: #02acb4;
}
.addpro .inppro {
	display: block;
	margin: 34px auto;
	width: 195px;
	height: 34px;
	padding-left: 10px;
}
.addclass .selrad {
	padding-top: 10px;
    margin: 0 2px 10px 0;
    border-top: solid 1px #02acb4;
    padding-left: 80px;
}
.selrad input { margin-right: 10px; }


.footer {
	/* position: absolute;
	display: block;
	bottom: 0;
	left: 0; */
	height: 62px;
	line-height: 62px;
	background: #172431;
	color: #FFF;
	font-size: 14px;
	text-align: center;

    position: relative;
    overflow: hidden;
    margin-left: 231px;
}
.footer p {
	width: 100%;
}
.demo {
	padding: 0 0 50px;
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
    min-height: 773px;
    margin-left: 232px;
}
